.App {
  height: 100px;
}

.Board {
  backgroundColor: '#eee';
  width: 70%;
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;

}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: small;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
