.TaskHeading {
    margin-top: 40px;
    font-family: "Open Sans";
}
.ProjectBodyDiv {
    width: 80%;
    margin: 0 auto;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Open Sans";
    background-color: rgb(250, 250, 250);
}

.ProjectBodyDivN {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Open Sans";

}

..ProjectBodyDivNX {
    width: 80%;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Open Sans";
}

.ProjectBodyDivNM {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Open Sans";
}

.Title {
    font-family: "Open Sans", serif;
    color: rgb(32, 32, 32);
}

.ProjectBody {
    font-size: 1.5em;
    color: rgb(32, 32, 32);
    font-family: "Open Sans", sans-serif;
}

.ProjectInfo {
    font-size: 1.4em;
    color: rgb(39, 39, 39);
}

.PublishedDate {
    margin-top: -15px;
    color: rgb(158, 158, 158);
}

.container {
   display: flex;
}

.containerLeft {
   flex: 0 0 50%;
   display: flex;
   justify-content: flex-start;
}

.containerRight {
   flex: 0 0 50%;
   display: flex;
   justify-content: flex-end;
}
